{{>header}}
{{>menu}}
<form action="/add" method="post">
  <div class="dream-container">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
  </div>

  <div class="dream-container">
    <label for="dream_description">Tell us your dream:</label>
    <textarea id="dream_description" name="dream_description" rows="4" cols="50"></textarea>
  </div>


  <div>
    <p><span>
    <button>Add your dream to the Dreamscape</button>
    </span></p>
  </div>
</form>

  {{>footer}}