body {
  background-color:pink
}

.relative{
  position: relative;
}

img {
  width: 100%;
  height:auto;

}

p {
  font-family: 'Amatic SC', cursive;
  font-size:200%;
  text-align: center;
  margin: 0%;
}

.dream-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(241, 224, 227);
  margin: 5%;
}