body {
  background-color:pink
}

.relative{
  position: relative;
}

img {
  width: 100%;
  height:auto;

}

p {
  font-family: 'Amatic SC', cursive;
  font-size:200%;
  text-align: center;
  margin: 0%;
}

h3 {
  font-family: 'Amatic SC', cursive;
  font-size:150%;
  text-align: left;
  margin-left: 5%;
  margin-top:0%;
}

.dream-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(241, 224, 227);
  margin: 5%;
  border-style:dashed;
  border-color:rgb(190, 91, 108);
}

label {
  font-family: 'Amatic SC', cursive;
  font-size:200%;
  text-align: center;
  margin: 0%;
}

button {
  font-family: 'Amatic SC', cursive;
  font-size:70%;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;
}

